body {
    width: 600px;
    margin: 0 auto;
}
h1 {
    font-weight: 800;
    font-family: Helvetica;
    border: 2px solid black;
    background-color: azure;
    padding: 8px;
    text-align: center;
}

li {
    font-weight: 800;
    margin: 8px;
    background-color: azure;
    padding: 8px;
    display: block;
}